@import "tailwindcss";

@theme {
  --color-primary: #FC6423;
  --color-secondary: #2D2D2D;
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --animate-progress: progress 5s linear forwards;
  
  --keyframes-progress: progress;
}

@keyframes progress {
  from {
    stroke-dashoffset: 170; 
  }
  to {
    stroke-dashoffset: 0;   
  }
}

:root {
  --background: #ffffff;
  --foreground: #2D2D2D;
}

body {
  background: var(--background);
  color: var(--foreground);
}