@import "tailwindcss";

@theme {
  /* --- RENKLER --- */
  --color-primary: #FC6423;
  --color-secondary: #2D2D2D;
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* --- ANİMASYON AYARLARI --- */
  /* animate-progress sınıfını oluşturuyoruz */
  --animate-progress: progress 5s linear forwards;
  
  /* Bu animasyonun hangi keyframes'i kullanacağını belirtiyoruz */
  --keyframes-progress: progress;
}

/* --- STANDART CSS KEYFRAMES --- */
/* Çemberin dolma hareketi burada tanımlanıyor */
@keyframes progress {
  from {
    stroke-dashoffset: 170; /* Başlangıçta çizgi yok (dolu kısmı öteledik) */
  }
  to {
    stroke-dashoffset: 0;   /* Sonda çizgi tam dolu */
  }
}

:root {
  --background: #ffffff;
  --foreground: #2D2D2D;
}

body {
  background: var(--background);
  color: var(--foreground);
}